@import '/styles/main.scss';

.corporate_expertise {
  margin-top: 4rem;
  .items {
    gap: 1rem;
    display: flex;
    justify-content: space-between;

    .box {
      background: $color-bg-grey-primary;
      border: 1px solid #E4E4E4;
      border-radius: 8px;
      padding: 2rem;
      .title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.6rem;
        display: flex;
        gap: 1rem;
        margin-bottom: 2.6rem;

        .number {
          color: #A2A9B0;
        }
      }
    }
  }
}

.circle {
  margin-top: 2rem;
  background: #FFCC05;
  flex-direction: column;
  padding: 24rem 28rem 6.4rem;
  border-top-left-radius: 200rem;
  border-top-right-radius: 200rem;

  .circle_title {
    max-width: 865px;
    min-height: 135px;
    width: 100%;
    margin: 0 auto 6.8rem;
    text-align: center;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 7.2rem;
    text-align: center;
  }
}

@media (max-width: $grid-large) {
  .corporate_expertise {
    margin-top: 2rem;

    .corporate_expertise_items {
      .title {
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-bottom: 2rem;
      }

      .description {
        font-size: 1.2rem;
        line-height: 151%;
      }
    }

    .items {
      flex-direction: column;
      margin-top: 2rem;

      .box {
        .title {
          font-size: 1.8rem;
          line-height: 2.7rem;
          display: flex;
          margin-bottom: .5rem;

          .number {
            color: #A2A9B0;
          }
        }

        .description {
          font-size: 1.2rem;
          line-height: 151%;
        }
      }
    }
  }

  .circle {
    padding: 1rem 2.6rem 6rem;
    border-top-left-radius: 100.8rem;    border-top-right-radius: 100.8rem;
    margin-bottom: 2rem;
    .circle_title {
      max-width: 23rem;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 5rem;
      min-height: 0;
    }

    .images {
      flex-direction: column;
    }
  }
}