// COLORS
$color-white: #fff;
$color-black: #000;
$color-yellow: #FFCC05;
$color-red: rgb(248 113 113);
$color-title-yellow: #FFCC05;
$color-logo-fill: #FFCC05;
$color-grey-primary: #303030;
$color-grey-secondary: #636D79;
$color-description-primary: #494949;
$color-bg-dark-primary: #222222;
$color-bg-grey-primary: #F8F9FA;


// GRID
$grid-small: 576px;
$grid-medium: 768px;
$grid-large: 992px;
$grid-xlarge: 1200px;
$grid-xxlarge: 1400px;

$grid-special: 1600px;

$gutter-x: 1.5rem;
$gutter-y: 0;
