@import "/styles/main.scss";

.button {
  width: 100%;
  height: 100%;
  padding: 2rem 9.5rem;
  border-radius: 5.7rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $color-black;
  background-color: #FFCC05;
}